#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Cytoscape
Exec="/home/quinten/Cytoscape_v3.10.1/Cytoscape" %U
Icon=/home/quinten/Cytoscape_v3.10.1/.install4j/Cytoscape.png
Categories=Application;
StartupWMClass=install4j-org-cytoscape-launcher-internal-Launcher
